.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--background-color-l3), 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    user-select: none;
}

.content {
    background-color: var(--background-color-l2);
    border-radius: 0.5rem;
    position: relative;
    min-width: 300px;
    max-width: 90%;
    max-height: 80vh;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.head {
    height: 50px;
    padding-left: 15px;
    padding-right: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body {
    padding: 15px;
}